.resultsTitle {
    margin-top: 20px;
    margin-bottom: 8px;
}

.responseFlex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

.responseItem {
    width: 400px;
    height: 440px;
    border: 10px solid #165788;
    box-shadow: 1px 1px 10px grey;
    border-radius: 10px;
    display: block;
    margin-bottom: 20px;
    background: #F2F2F2;
}

.imgContainer {
    width: 100%;
    height: 200px;
    overflow: hidden;
}

.imgContainer img {
    display: block;
    width: 100%;
}

.descriptionContainer {
    height: 160px;
    overflow: hidden;
    padding: 10px;
    margin-bottom: 10px;
    /* border: 1px solid black; */
}